
*,
*:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}



#big>a>article {
  
  
    border-radius: 16px;
    border: 0px solid;
    width: 100%;
    height: 0;
    
    
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
  
  
}

#big>a>article:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out;
}

html {
  height: 100%;
}


body {
background: rgb(1,92,60);
background: linear-gradient(180deg, rgba(1,92,60,1) 45%, rgba(31,32,32,1) 100%);
height: 100%;
margin: 0;
background-repeat: no-repeat;
background-attachment: fixed;
overflow-x: hidden;
scroll-behavior: smooth;
font-family: 'Inter Tight', sans-serif;

}




.logo {
  margin-top: 3vw;
  width: 12rem;
  margin-left: 4vw;
}

.poweredby {
  margin-left: 4vw;
  display: flex;

  color: white;
}

p {
  font-size: 12px;
}

.header {
  margin-top: 3vw;
  margin-left: 4vw;
}

section {
  margin-top: 0.8vw;
 padding-left: 3vw;
}

.video_section {
  height: 100%;
    width: 100vw;
   
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding-bottom: 6vw;
}

  .video_container{
      
   transition: 0.8s ease-in-out;
   align-items: center;
   display: flex;
 
   
  
  }

  .test {
    border-radius: 1.4vw;
    border: 0px solid;
    width: 40vw;
    height: 20vw;
    object-fit: cover;
    margin-right: 2vw;
    background-color: rgba(0, 0, 0, 0.4);
   
  
  }

  

  .test:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out;
  }

  .testi {
  
 
    visibility: hidden;
    width: 80vw;
    height: auto;
    
    top: 50%;
    left: 50%;
    overflow: auto;
    transform: translate(-50%, -50%);
  
    background-color: #2D2D2D;
    position: fixed;
    
  
    border-radius: 16px;
  }





  .event_section {
    height: 100%;
    width: 100vw;
   
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
    
  }



  #upcomingEvents {
   
   transition: 0.8s ease-in-out;
    align-items: center;
    display: flex;
    width: 100%;
    
  
  
  }

  .events_container>a>article {
    
    border-radius: 1.4vw;
    border: 0px solid;
    width: 35vw;
    height: 30vw;
    
    margin-right: 2vw;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
  
  }
  
  .events_container>a>article:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out;
  }
  
.event_info {
  padding: 1vw 2vw;
 
  
}

.event_name {
  margin-bottom: 1vw;
  font-size: 2vw;
}
.event_icon {
  width: 2vw;
  height: 2vw;
  
  
}
.icon_wrapper {
margin-top: 0.6vw;
  display: flex;
  align-content: center;

  
  
}

  .icon_text {
    margin-left: 0.5rem;
align-self: center;
font-size: 1.4vw;
  }
  
  .image_wrap{
    object-fit: cover;
    width: 100%;
    height: 60%;
    overflow: hidden;
  }














  .bodystopscroll {
    overflow-y: hidden;
    }
  
    
    
    .specificEvent {
       
      visibility: hidden;
      width: 50vw;
      height: 100%;
      
      top: 55%;
      left: 50%;
      overflow-x: hidden;
      transform: translate(-50%, -50%);
  
      background-color: #2D2D2D;
      position: fixed;
      
   
      border-radius: 1.4vw;
   
    }


    .specific_event_info {
      padding: 2vw;
      
    }

.description {
  width: 100%;
}

.download {
  display: flex;
  width: 100%;
  margin-bottom: 4vw;
}
.qr {
  width: 80%;
}

 
  h1 {
    color: white;
    font-size: 1.2rem;
  }


  h2 {
    color: white;
    font-size: 14px;
    font-weight: 600;
  }
  
  
  
  h3 {
    display: flex;
    color: aquamarine;
    flex-direction: column;
  
  }
  
 
  
 
  

  
  
  
  a {
    text-decoration: none;
    color: #E4E4E4;
  }
  
  
  
  

 

  

  
  
  

  
  
 
  

  

 
  
  

  
  
  
 
  
  
  
  
 
  
  .icons {
    width: 1.5vw;
    height: 1.5vw;
    color: white;
    margin-right: 10px;
  
  }
  
  .icontext {
  
    display: flex;
    margin-top: 10px;
    height: 1.5vw;
  
  }
  
  .event_container>a>article:hover .details {
    visibility: visible;
    transition: 0.4s ease-in-out;
  }
  
  .arrowright {
    z-index: 9;
    cursor: pointer;
    position: absolute;
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.6));
    width: 4vw;
    height: 17vw;
    
    text-align: center;
  
  
  
  }
  
  .arrowright:hover #iii {
    font-size: 3vw;
    transition: 0.4s ease-in-out;
  }
  
  .arrowright:hover {
    width: 6%;
    transition: 0.4s ease-in-out;
  }
  
  .arrowleft {
    z-index: 9;
    cursor: pointer;
    position: absolute;
    left: 0;
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.6));
    width: 4vw;
    height: 17vw;
   
    text-align: center;
  
  }
  
  .arrowleft:hover #iii {
    font-size: 3vw;
    transition: 0.4s ease-in-out;
  }
  
  .arrowleft:hover {
    width: 6%;
    transition: 0.4s ease-in-out;
  }
  
  #iii {
    color: white;
    font-size: 2vw;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .closebutton {
    position: absolute;
    right: 1vw;
    top: 1vw;
    z-index: 20;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    background-size: 100% 100%;
    background-image: url(images/Close.png);
    
  }
  
  .opacitycover {
    position: fixed;
    z-index: 10;
    background-color: black;
    opacity: 0.6;
    width: 100vw;
    height: 100vh;
    top: 0;
    transition: 0.5s ease-in-out;

  }

 
 

  
  
  .opendetails {
  
    visibility: visible;
    z-index: 10;
    font-size: 14px;
  
    color: #f2f3f4;
    transition: 0.3s ease-in-out;
  
  }
  
  .specificimage {
    object-fit: cover;
    width: 100%;
   
    overflow: hidden;
  
  }
  
  
  
  
  
 
  
  



  @media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .logo {
      margin-top: 16vw;
      
    }


    section {
      margin-top: 0.8vw;
      overflow-x: scroll;
      scroll-behavior: smooth;
    }
    section::-webkit-scrollbar {
      display: none;
  }
.arrowleft {
  visibility: hidden;
}   

.arrowright {
  visibility: hidden;
}

  .image_wrap {
    height: 55%;
  }
    .event_name {
      
      font-size: 3vw;
      padding-bottom: 1vw;
    }

.event_icon{
  width: 3vw;
  height: 3vw;
  
}


      .icon_text {
     font-weight: 400;
    font-size: 2.8vw;
    padding-bottom: 1vw;
      }


      .event_info {
        padding: 2vw 3vw;
       
        
      }



.events_container>a>article {
    
  border-radius: 1.4vw;
  border: 0px solid;
  width: 55vw;
  height: 45vw;
  
  margin-right: 2vw;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  

}




.spec_name{
     
  font-size: 4vw;
    }

.spec_text {
  font-size: 3vw;
}   


  

  



  .specificEvent
  {
    width: 80vw;
  }

  .specific_event_info {
    padding: 4vw 6vw;
    
  }

  #big>a>article {
  height: 100%;
}

  }

  
  
  